@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">TAREA GREG</h1>
        <p class="lead">Para esta tarea reutilicé las apis pero con dos métodos distintos</p>
       
    </section>

   
</main>